<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= question.name %></h1>
    <form action="/suggestion/" method="post">
      <input type="text" name="name" required minLength="4" maxLength="80" autofocus="true" placeholder="">
      <input type="hidden" name="question" value="<%= question.id %>">
      <input type="submit" value="Ehdota">
    </form>
    <% if (question.suggestions) { %>
      <h2>Ehdotukset</h2>
      <ul>
        <% question.suggestions.forEach(function(q){ %>
          <li class="suggestion">
            <span><%= q.name %></span>
            <span class="votes">(<%= q.votes %>)</span>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </div>
</div>
